<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
  </head>
  <body>
    <%- include('partials/adminNavbar') %>

    <div class="container">
      <h4 id="msg"><%= msg %></h4>
      <form id="form" method="post" action="/admin/product/add-product">
        <p>Product id: <input type="text" name="product_id" required /></p>
        <p>Product Name: <input type="text" name="product_name" required /></p>
        <p>
          Product Description: <input type="text" name="product_des" required />
        </p>
        <p>
          Product Category:
          <input type="text" name="product_category" required />
        </p>
        <p>
          Product Price: <input type="text" name="product_price" required />
        </p>
        <p>Product image: <input type="text" name="product_image" /></p>
        <p>
          Product stock: <input type="text" name="product_stock" required />
        </p>
        <p><input type="submit" value="Add" /></p>
      </form>
    </div>
    <script>
      var msg = document.getElementById("msg");
      setTimeout(function () {
        msg.style.display = "none";
      }, 3000);
    </script>
  </body>
</html>
