<html>
  <form method="post" ,action="/forgotPassword">
    <input
      type="email"
      placeholder="enter email address"
      name="email"
      required
    />
    <input type="submit" value="send mail" />
  </form>
</html>
