<div id="resetPasswordContainer">
  <h3 id="msg"><%= msg %></h3>

  <form id="form" method="post" , action="/resetPassword/<%= mailid %>">
    <div id="container">
      <p>
        <input
          id="newPass"
          type="text"
          name="newPassword"
          placeholder="enter new password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        />
      </p>
      <p>
        <input
          id="confirmPass"
          type="text"
          name="confirmPass"
          placeholder="re-enter new password"
        />
      </p>
      <p><input id="submitBtn" type="submit" value="change" /></p>
    </div>
  </form>
</div>

<script>
  var form = document.getElementById("form");
  var message = document.getElementById("msg");

  function onFormSubmit(event) {
    if (newPass.value != confirmPass.value) {
      alert("passwords do not match");
      event.preventDefault();
    } else {
      form.submit();
    }
  }

  setTimeout(function () {
    message.style.display = "none";
  }, 3000);
</script>
